<%-include("partials/header")-%>

<div class="type" class="complaintType">
  <br><br><br><br><br>
  <h2>Welcome , <%= user.Name %></h2>
  <h3>Your Grievances -</h3>
  <br><br>
  <% for(var i=0; i<myGrievances.length;i++){ %>

  <div class="card">
    <h3 class="card-header">Ministry: <%= myGrievances[i].Ministry %></h3>
    <div class="card-body">
      <h5 class="card-title" style="text-align:left;">Main Category: <%= myGrievances[i].Main_category %></h5>
      <br>
      <h5 class="card-title" style="text-align:left;">Sub Category: <%= myGrievances[i].Sub_category %></h5>
      <br>
      <h5 class="card-title" style="text-align:left;">Date Posted: <%= myGrievances[i].date_posted %></h5>
      <br>
      <h5 class="card-title" style="text-align:left;">Status: <%= myGrievances[i].status %></h5>
      <br>
      <h5 class="card-title" style="text-align:left;">Description:</h5><span>
      <p class="card-text" style="text-align:left;">
      <%= myGrievances[i].Description %>
      </p>
      <% if(typeof(myGrievances[i].uploadfile) != 'undefined'){ %>
        <iframe id="myFrame<%= i %>" style="display:none" width="600" height="300"></iframe>
        <input id='<%=myGrievances[i].uploadfile.filename%>' type="button" class="btn btn-primary myBtn" value="Open Uploaded File" onclick="openPdf(this,<%= i %>)" />
      <% } %>
      <br><br>
  <!--<button onclick="myFunction(<%= i %>)" class="btn btn-primary myBtn">Show Progress</button>-->
        </div>
    <div style="margin:0px 20px;" id='tests<%= i %>'>
    <% if(myGrievances[i].status=='Submitted')  {%>
    <div class="w3-light-grey w3-round-xlarge">
    <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">Submitted</div>
    <% } %>

    <% if(myGrievances[i].status=='Reviewed')  {%>
    <div class="w3-light-grey w3-round-xlarge">
    <div class="w3-container w3-blue w3-round-xlarge" style="width:50%">Reviewed</div>
    <% } %>

    <% if(myGrievances[i].status=='In Progress')  {%>
    <div class="w3-light-grey w3-round-xlarge">
    <div class="w3-container w3-blue w3-round-xlarge" style="width:75%">In Progress</div>
    <% } %>

    <% if(myGrievances[i].status=='Resolved')  {%>
    <div class="w3-light-grey w3-round-xlarge">
    <div class="w3-container w3-blue w3-round-xlarge" style="width:100%">Resolved</div>
    <% } %>
    <br>
    </div>

  </div>
  </div>
  <br>
<% } %>

  <%# <form action="cmplaint.php" method="POST" class="formalign">
			<fieldset>
				<h2 class="comptype">Type of complaint</h2>
				<hr class="linewid">
				<div>
				<div>
					<input id="Field5_0" name="type" type="radio" value="murder" tabindex="1">
					<label class="choice" for="Field5_0">Murder/Homicide</label>
				</div>
				<div>
					<input id="Field5_1" name="type" type="radio" value="domestic" tabindex="2">
					<label class="choice" for="Field5_1">Domestic Violence</label>
				</div>
				<div>
					<input id="Field5_2" name="type" type="radio" value="sexual" tabindex="3">
					<label class="choice" for="Field5_2">Sexual Harassment</label>
				</div>
				<div>
					<input id="Field5_3" name="type" type="radio" value="assault" tabindex="4">
					<label class="choice" for="Field5_3">Assault/Violence</label>
				</div>
				<div>
					<input id="Field5_4" name="type" type="radio" value="theft" tabindex="5">
					<label class="choice" for="Field5_4">Theft/Robbery</label>
				</div>
				</div>
			</fieldset>
			<div>
				<label class="desc" id="title4" for="Field4">Any other? Please Specify!</label>
				<div>
					<textarea id="Field4" name="other" spellcheck="true" rows="2" cols="30" tabindex="6"></textarea>
				</div>
			</div>
<!--			<br><br><br><br>-->
			<div>
			<fieldset>
				<h2 id="title6" class="comptype">Assistance Required</h2>
				<hr class="linewid">
				<div>
					<input id="Field6" name="medical" type="checkbox" value="First Choice" tabindex="8">
					<label class="choice" for="Field6">Medical</label>
				</div>
				<div>
					<input id="Field7" name="police" type="checkbox" value="Second Choice" tabindex="9">
					<label class="choice" for="Field7">Police</label>
				</div>
				<div>
					<input id="Field8" name="counselling" type="checkbox" value="Third Choice" tabindex="10">
					<label class="choice" for="Field8">Counselling</label>
				</div>
			</fieldset>
			</div>
			<div>
				<h2 id="title6" class="comptype">Event Details</h2>
				<hr class="linewid">
				<div>
					<textarea id="Field4" name="details" spellcheck="true" rows="5" cols="50" tabindex="7" placeholder="Enter Details.."></textarea>
				</div>
			</div>
			<div>
				<label class="essdetails" id="title1" for="Field1">Full Name</label>
				<hr class="linewid">
				<div>
					<input id="Field1" name="name" type="text" class="field text fn" value="" size="30" tabindex="9">
				</div>
			</div>

			<div>
				<label class="essdetails" id="title3" for="Field3">Email</label>
				<hr class="linewid">
				<div>
					<input id="Field3" name="email" type="email" spellcheck="false" value="" size="30" maxlength="255" tabindex="10">
				</div>
			</div>
			<div class="submitComplaint">
            <input type="submit" class="btn btn-danger subbtn" name='submit'  value='CryOut!'>
		    </div>
		</form> %>
</div>
<script>
function openPdf(input , i){
  console.log(input.id)
  let omyFrame = document.getElementById("myFrame"+i);
  omyFrame.style.display="block";
  omyFrame.src = '../'+input.id;
}
</script>
<%-include("partials/footer")-%>
