<%-include("partials/header")-%>

<div class="type" class="complaintType">
  <br><br>

  <h3>User Details:</h3>
  <br><br>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title" style="text-align:left;">User Name: <%= user.Name %></h5>
      <br>
      <h5 class="card-title" style="text-align:left;">User Email: <%= user.Email %></h5>
      <br>
      <h5 class="card-title" style="text-align:left;">User Aadhar Number: <%= user.aadhar_number %></h5>
    </div>
  </div>

  <script>
  function openPdf(input){
    let omyFrame = document.getElementById("myFrame");
    omyFrame.style.display="block";
    omyFrame.src = '../'+input.id;
  }
  </script>
<%-include("partials/footer")-%>
